body {
	font-family: Helvetica, Verdana, sans-serif;
	background-color: #eee;
}

li {
	margin: 20px;
}

ul {
	list-style-type: none;
}

h3 {
	font: bold 20px/1.5;
}

li img {
	float: left;
	margin: 0 15px 0 0;
}

li div {
	font-family: Georgia, Times New Roman, serif;
	clear: both;
}

li {
	padding: 10px;
	overflow: auto;
}

li:hover {
	background: #fff;
}

div.entry-instance-date {
	font-size: 18px;
	font-weight: bold;
}

div.entry-price {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

div.crawler-metadata ul li {
	padding:0;
	margin:0;
}